.head {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  animation: show 0.6s ease;
  &__title {
    font-size: 56px;
    margin: 10px 0;
  }
  &__subtitle {
    font-size: 30px;
  }
}
@keyframes show {
  0%{
    transform: translate(-20%,0);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}
